<form class="formStyle" (submit)="send()">
  <app-suggestion
    *ngIf="responseOk"
    [data]="rest"
    (newItemEvent)="clearData()"
  ></app-suggestion>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      [(ngModel)]="dataSend.name"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      [(ngModel)]="dataSend.description"
      name="description"
    />
  </div>
  <div class="mb-3">
    <label for="exampleDataList" class="form-label">Ingrese sus gustos</label>
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="dataSend.foodTastes"
      name="foodTastes"
    >
      <option *ngFor="let item of foodTastes" value="{{ item.id }}">
        {{ item.name }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleDataList" class="form-label"
      >Preferencias de comida</label
    >
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="dataSend.preferences"
      name="preferences"
    >
      <option *ngFor="let item of preferences" value="{{ item.id }}">
        {{ item.name }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleDataList" class="form-label">Tipo de solicitud</label>
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="dataSend.typeResponse"
      name="typeResponse"
    >
      <option *ngFor="let item of keys()" value="{{ item }}">{{ item }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
